:root {
  --color-black-general: #2a2a2a;
  // --color-black-general: #ffffff;
  --color-red-general: #ff4c4c;
  // --color-white-general: #2a2a2a;
  --color-white-general: #ffffff;
  --color-red-warn: #cc3b3b;
  --color-green-success: #4caf50;
  --color-gray: #b2b2b2;
  // --color-white-accent: #f3f3f3;
  --color-white-accent: #f3f3f3;
  --color-black-hover: #121212;
  --color-blue-primary: #0082fe;
  --color-blue-hover: #1565c0;
  --color-violet: #6d5aff;
  --color-violet-hover: #8c7dff;
  --color-blue-light: #e3f2fd;
  --color-border: #90a4ae;
  --index-portal: 100000;
  --index-modal: 10000;
  --index-header: 1000;
  --index-bar-mobile: 100;
  --index-subheader: 10;
  --radius-mini: 8px;
}
